# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore everything in the database directory
db-mysql/
init.sql

# Ignore notebook
notebooks/

# Ignore data folder, note it will be mounted later
data/

# Ignore Video Sample
video-samples/

# Ignore cache
.pytest_cache
__pycache__/

# Ignore uploaded audios but keep the directory
uploaded_audios/*

# Ignore rever proxy folder
reverse-proxy/

# Additional files to ignore in Docker
.gitignore
Dockerfile
.gitkeep
build-docker.sh
docker-compose.yml
docker-compose-proxy.yml
test-deploy.sh
test-deploy-with-proxy.sh
